@font-face {

    font-family: "Oswald";

    font-weight: 500;

    font-style: normal;

    font-display: swap;

    src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.ttf") format("ttf");

}



@font-face {

    font-family: "Oswald";

    font-weight: 600;

    font-style: normal;

    font-display: swap;

    src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald-SemiBold.ttf") format("ttf");

}

.edit-post-text-editor .editor-post-title {

    max-width: none;

    line-height: 1.4;

    font-family: 'Oswald', sans-serif;

    font-size: 45px;

    font-weight: 500;

    border: none;

    padding: 16px;

    text-align: center;

}

.edit-post-text-editor__body textarea.editor-post-text-editor {

    display: none;

}



.edit-post-meta-boxes-area #poststuff h2.hndle, .edit-post-meta-boxes-area #poststuff h3.hndle {

    font-size: 24px;

    font-weight: 400;

}



.postbox-header .hndle {

    justify-content: center;

}
.edit-post-fullscreen-mode-close.components-button:before {
   
    box-shadow: none; 
}


.edit-post-header{
    position:relative;
    background-color: #63ABF3;
    background: -webkit-gradient(linear, left top, left bottom, from(#63ABF3), to(#0043C6));
    background: -o-linear-gradient(top, #63ABF3 0%, #0043C6 100%);
    background: linear-gradient(180deg, #63ABF3 0%, #0043C6 100%);
}

.edit-post-header .edit-post-header__settings .components-button{

}

.edit-post-header .edit-post-header__settings .editor-post-publish-button{

    background:#313131;

}



.edit-post-header .edit-post-header__settings .components-button.is-primary[aria-disabled=true]{

    opacity: .5;

    background:#313131;

    border-color: #313131;

}



.edit-post-header-toolbar .edit-post-header-toolbar__left>.edit-post-header-toolbar__inserter-toggle.has-icon{

    background:#313131;

}





.edit-post-header > .components-button .is-tertiary{

    color:#fff;

}



.wp-core-ui .button, .wp-core-ui .button-secondary {

    color: #313131;

    border-color: #313131;

    background: #f6f7f7;

    vertical-align: top;

}



.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {

    margin-left: 4px;

    padding: 4px 8px;

    position: relative;

    top: -3px;

    text-decoration: none;

    border: 1px solid #313131;

    border-radius: 2px;

    text-shadow: none;

    font-weight: 600;

    font-size: 13px;

    line-height: normal;

    color: #fff;

    background: #313131;

    cursor: pointer;

}



.wrap h1.wp-heading-inline {

    display: inline-block;

    margin-right: 5px;

    font-weight: 700;

}



.row-title {

    font-size: 14px;

    font-weight: 600;

}



.components-button.is-secondary {

    white-space: nowrap;

    color: #313131;

    background: transparent;

}



.components-button.is-tertiary {

    white-space: nowrap;

    color: #313131;

    border:1px solid #313131;

    background: transparent;

}

.edit-post-fullscreen-mode-close.components-button {
        height: 60px;
        background: #3600D3;
        border: 7px solid #3600D3;
        transition: all 0.3s ease-in-out;
    }

    .edit-post-fullscreen-mode-close.components-button:hover{
        border: 7px solid #18223D;
        transition: all 0.3s ease-in-out;
    }

    .edit-post-fullscreen-mode-close.components-button:active{
        border: 7px solid #fff;
        transition: all 03s ease-in-out;
    }

.edit-post-meta-boxes-area .postbox-header {

    border-top: none;

    background: #3600D3;

    padding: 10px 0;

    color: #fff;

    border-bottom: 0;
    transition: all .3s ease-in-out;

}

#editor .postbox > .postbox-header:hover {
    border-top: none;

    background: #3600D3;

    padding: 10px 0;

    color: #fff;

    border-bottom: 0;
    transition: all .3s ease-in-out;
}



.cf-field__head {

    box-sizing: border-box;

    padding: 10px 20px;

    /* margin-bottom: 20px; */

    text-align: center;

    background: #efefef;

    flex: 1 1 100%;

}



.cf-field__body, .cf-field__head {

    margin-top: 20px;

}



.cf-complex .cf-field__head {

    background: rgba(0,0,0,.05);

    font-size: 20px;

}



.cf-complex__group-body .cf-field--has-width .cf-field__head {

    background: rgba(0,0,0,.1);

    text-align: left;

    font-size: 16px;

    padding: 10px;

}

.cf-container__tabs-list .cf-container__tabs-item button:hover{
    background:#5986EC;
    color:#fff;
    border:1px solid #5986EC;
    transition: all .3s ease-in-out;
}
.cf-container__tabs-list .cf-container__tabs-item button {
    border: 1px solid #3600D3;
    background: #3600D3;
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px;
    transition: all .3s ease-in-out;
}

.cf-complex__group-body .cf-field--has-width .cf-field__head label{

    margin-bottom:0;

    padding-bottom:0;

}

.cf-container__tabs-list .cf-container__tabs-item--current button {
    background: #fff;
    color: #18223D;
    border: 1px solid #18223D;
}

.cf-complex__groups.ui-sortable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.cf-complex__groups.ui-sortable .cf-complex__group {

    flex-basis: 23%;

    margin: 1%;

}



.cf-complex__group-body {

    flex-direction: column;

}



.cf-field.cf-media-gallery .cf-field__body .cf-media-gallery__inner ul {

    display: flex;

    flex-direction: column;

}



.cf-media-gallery__item-inner {

    border: 1px solid #e2e4e7;

    width: 100%;

    height: 150px !important;

    position: relative;

    margin: 10px 0;

}

.cf-media-gallery__item-name {

    position: absolute;

    top: 10px;

}



.cf-complex__group-head {

    position: relative;

    display: flex;

    border: 1px solid #e2e4e7;

    border-bottom: 1px solid #e2e4e7 !important;

    background-color: #fbfbfc;

    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

    font-size: 13px;

    font-weight: 600;

    line-height: 1.4;

    color: #23282d;

    cursor: move;

    transition: border-color .1s linear;

}



.complex-column .cf-field__body .cf-complex__groups {

    width: 100%;

    flex-direction: column;

}



.complex-column .cf-field__head {

    background: #efefef;

    font-size: 20px;

}

.complex-column .cf-field__head label{

    font-size:13px;

}

.cf-field__head .cf-container .cf-field__label{
    padding-bottom: 0;
}

/* .block-counts {
    background: #18223D;
}
.block-counts .cf-field__head{
    background:transparent;
}
.block-counts .cf-field__head label{
    color: #fff;
} */

.block-counts .cf-field__body .cf-complex__groups .cf-complex__group .cf-complex__group-body .cf-field .cf-field__head label {

    color: #000;

}

.cf-container__tabs-list .cf-container__tabs-item {
    border: none;
    margin: 1%;
    background-color: #fbfbfc;
    font-size: 12px;
    cursor: pointer;
    transition: background-color .1s linear, border-color .1s linear;
}
.cf-container .cf-container__tabs{
    border-bottom: none;
}

.site-icon-preview .app-icon-preview{
    background-color: #fff !important;
}